@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  font-family: Lato, sans-serif;
  --col-white: #ffffff;
  --col-yellow: #ffd166;
  --col-green: #06d6a0;
  --col-blue: #118ab2;
}

#Demowaves {
    height: cover;
    position: relative;;
    bottom: 140px;
}

@media (max-width: 575px ) and (min-width: 415px) {
    #Demowaves {
        bottom: 73px;
    }
}

@media (max-width: 411px) {
    #Demowaves {
        bottom: 36px;
    }
}

@media (max-width: 414px) and (min-width: 414px)  {
    #Demowaves {
        bottom: 10px;
    }
}
@media (max-width: 2643px ) and (min-width: 2000px) {
    #Demowaves {
        visibility: hidden;
    }
}

path#wave {
    bottom: 0;
}

svg {
  width: 100%;
  overflow: visible;
}

.monta {
  width: 100%;
  padding: 0%;
}
.wave {
  animation: wave 5s linear;
  animation-iteration-count: 5s;
  fill: #ffff;
}

#wave2 {
  animation-duration: 6s;
  animation-direction: reverse;
  opacity: 0.6;
}
#wave3 {
  animation-duration: 7s;
  opacity: 0.3;
}

@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}
