{% extends 'base.html' %}
{% load static %}
{% block title %}Precios{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/pricing.css' %}">
{% endblock style %}
  
{% block content %}
<!--/ Image Nav bar Start /-->
<section class="d-flex img-fluid-rj" style="background-image: url(static/img/bg/valley_illustration.png);">
  <div class="container-fluid intro-bg ">
  </div>
</section>
<!--/ Image Nav bar End /-->

<section class="pricing section-t8">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Gratis</h5>
            <h6 class="card-price text-center">$0<span class="period">/mes</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Verificacion de Usuarios</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Pagos seguros</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Reporte de estadisticas</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Destacamiento y referenciamiento</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Publicaciones Ilimitadas
              </li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Ofertas y descuentos</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span><strong>Soporte via Email</strong> Prioritario</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Anuncios con duracion <strong>ilimitada</strong> </li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Unetenos</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
            <h6 class="card-price text-center">$15,000<span class="period">/mes</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Verificacion de Usuarios</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Pagos seguro</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Reporte de estadisticas</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Destacamiento y referenciamiento</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Publicaciones ilimitadas</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Ofertas y Descuentos</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Soporte via Email</strong> Prioritario</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Anuncios con duracion <strong>ilimitada</strong> </li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Suscribete</a>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
            <h6 class="card-price text-center">$29,000<span class="period">/mes</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Verificacion de Usuarios</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Pagos seguro</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Reporte de estadisticas</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Destacamiento y referenciamiento</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Publicaciones ilimitadas</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Ofertas y Descuentos</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Soporte via Email</strong> Prioritario</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Anuncios con duracion <strong>ilimitada</strong> </li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Suscribite</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}