{% extends 'base.html' %}
{% load static %}
{% load compress %}
{% block title %}Inicio {% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/searchbar.css' %}">
<link rel="stylesheet" href="{% static 'css/slider.css' %}">
{% endblock  %}
{% block content %}
<!--/ Image Presentation Start /-->
<section class="d-flex dark-overlay img-fluid-rj" style="background-image: url(static/img/bg/valley_illustration.png);">
  <div class="container bg-desktop py-6 py-lg-7 text-white overlay-content"
    style="align-items: center !important; padding: 128px 15px; margin: 0px 104.5px;">
    <div class="row">
      <div class="col-xl-8">
        <h1 class=" display-3 font-weight-bold text-shadow " style="font-family: 'Poppins'; color: white;">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              Permitenos guiarte al hogar de tus sueños
            </font>
          </font>
        </h1>
        <p class="text-lg text-shadow mb-6">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              Descubra las mejores ofertas del mercado inmobiliario
            </font>
          </font>
        </p>
      </div>
    </div>
    <!--/ Barra de busqueda Start /-->
    <div class="container position-relative mt-n6">
      <ul class="nav nav-tabs search-bar-nav-tabs" role="tablist">
        <li class="nav-item mr-2">
          <a href="#alquiler" class="nav-link-1 active" data-toggle="tab" role="tab" aria-selected="true">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">
                Alquiler
              </font>
            </font>
          </a>
        </li>
        <li class="nav-item mr-2">
          <a href="#compra" class="nav-link-1" data-toggle="tab" role="tab" aria-selected="false">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">
                Compra
              </font>
            </font>
          </a>
        </li>
        <li class="nav-item mr-2">
          <a href="#roommate" class="nav-link-1" data-toggle="tab" role="tab" aria-selected="true">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">
                Roommates
              </font>
            </font>
          </a>
        </li>
      </ul>
      <div class="search-bar search-bar-with-tabs p-3 p-lg-4">
        <div class="tab-content">
          <div class="tab-pane fade active show" id="buy" role="tabpanel">
            <form action="#" method="get">
              <div class="row">
                <div class="col-lg-3 d-flex align-items-center form-group no-divider no-margin">
                  <div class="dropdown bootstrap-select show-tick form-control">
                    {{form.departProperty}}
                    <div class="dropdown-menu ">
                      <div class="inner show" role="listbox" id="bs-select-1" tabindex="-1" aria-multiselectable="true">
                        <ul class="dropdown-menu inner show" role="presentation"></ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 d-flex align-items-center form-group no-divider no-margin">
                  <div class="dropdown bootstrap-select show-tick form-control">
                    <input class="form-control" type="text" placeholder="Ingrese Ciudad">
                    <div class="dropdown-menu ">
                      <div class="inner show" role="listbox" id="bs-select-1" tabindex="-1" aria-multiselectable="true">
                        <ul class="dropdown-menu inner show" role="presentation"></ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-center form-group no-divider no-margin">
                  <div class="dropdown bootstrap-select show-tick">
                    {{form.typeProperty}}
                    <div class="dropdown-menu ">
                      <div class="inner show" role="listbox" id="bs-select-2" tabindex="-1" aria-multiselectable="true">
                        <ul class="dropdown-menu inner show" role="presentation"></ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-2 d-flex align-items-center form-group no-divider no-margin">
                  <div class="col-12 col-md-6 col-lg-3">
                    <div class="slider-range mb-15">
                        <div class="range-price text-white">Price [30000 - 150000]$</div>
                        <div class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-min="0" data-max="200000" data-unit="$" data-value-min="30000" data-value-max="150000" data-label-result="Price">
                            <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-lg-2 form-group mb-0">
                  <button class="btn btn-primary btn-block radius-r h-100" type="submit">Search </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>

<!--/ Image Presentation End /-->

<!--/ Carousel Start /-->
<section class="section-carousel section-t4">
  <div class="intro intro-carousel radius-r">
    <div id="carousel" class="owl-carousel owl-theme">
      <div class="carousel-item-a intro-item bg-image" style="background-image: url(static/img/slide-1.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">
                      Popayan, Cauca <br /> 190001
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Cll 26BN </span> 4-30 <br /> Villa Docente
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">Alquiler | $ 500.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url(static/img/slide-2.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">
                      Popayan, Cauca <br />
                      190001
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">4-30 </span> Cll 26BN <br />
                      Villa Docente
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">Alquiler | $ 600.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url(static/img/slide-3.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">
                      Popayan, Cauca <br />
                      190001
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Kr4 </span> Cll 26BN 4-30 <br />
                      Villa Docente
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">Alquiler | $ 450.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--/ Carousel end /-->

<!-- Bienvenido Start -->
{% if request.user.is_authenticated %}
<section class="welcome section-t8">
  <div class="container-fluid container-rojo " data-target="#wave">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-center">
          <div class="title-box">
            <div class="container rj-0">
              <div class="col-mb-4">
                <h2 class="title-a " style="color:#ffc02d ;">Bienvenido
                  <span class="text-left-name " style="text-transform:capitalize; color:#ffff ;">
                    {{request.user.username}}
                  </span>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <svg class="monta" id="Demowaves" viewBox="0 0 120 28">
        <defs>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="1" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="
            1 0 0 0 0  
            0 1 0 0 0  
                                              0 0 1 0 0  
                                              0 0 0 13 -9" result="goo" />
            <xfeBlend in="SourceGraphic" in2="goo" />
          </filter>
          <path id="wave"
            d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
        </defs>

        <use id="wave3" class="wave" xlink:href="#wave" x="0" y="-2"></use>
        <use id="wave2" class="wave" xlink:href="#wave" x="0" y="0"></use>
        <use id="wave1" class="wave" xlink:href="#wave" x="0" y="1" />
        </g>
      </svg>
    </div>

  </div>
  </div>
</section>
{% endif %}
<!--Bienvenido End-->


<!--/ Services Start /-->
<section class="services section-t8">
  <div class="container-fluid shadow-lg espaciado" style="background-color: #06d6a0;">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <p class="subtitle text-secondary-2" style="color: white;">Conoce</p>
            <h2 class="title-a" style="color: white;">Nuestros Servicios</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-4 mb-30px">
          <div class="card h-100 border-0 shadow hover-animate radius-r">
            <div class="card-body">
              <div class="icon-rounded bg-secondary-light mb-3 card-box-ico">
                <span class="fa fa-home"></span>
              </div>
              <h2 class="card-title mb-3 text-dark">Compraventa</h2></a>
              <p class=" text-muted card-text text-sm">La compraventa de bienes inmuebles es
                un asunto de cuidado.</p>
              <p class="collapse text-muted card-text text-sm" id="expCompraventa">Para ello en Looking llevamos un
                riguroso seguimiento
                de nuestros usuarios, para brindarte la mayor seguridad y satisfaccion a la hora de adquirir tu inmueble
                .</p>
              <a href="#" class=" link-c link-icon" data-toggle="collapse" data-target="#expCompraventa"
                aria-expanded="false" aria-controls="expCompraventa">Leer mas
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 mb-30px text-muted">
          <div class="card h-100 border-0 shadow hover-animate radius-r">
            <div class="card-body">
              <div class="icon-rounded bg-secondary-light mb-3 card-box-ico">
                <span class="fas fa-handshake"></span>
              </div>
              <h2 class="card-title mb-3 text-dark">Alquiler</h2></a>
              <p class="text-muted card-text text-sm">Queremos facilitarte las cosas, Desarrollamos diferentes filtros.
              </p>
              <p class="collapse text-muted card-text text-sm" id="expAlquiler">Los adaptamos a tus necesidades para que
                ahorres
                tiempo a la hora de relizar tus consultas </p>
              <a href="#" class=" link-c link-icon" data-toggle="collapse" data-target="#expAlquiler"
                aria-expanded="false" aria-controls="expAlquiler">Leer mas
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 mb-30px text-muted">
          <div class="card h-100 border-0 shadow hover-animate radius-r">
            <div class="card-body">
              <div class="icon-rounded bg-secondary-light mb-3 card-box-ico">
                <span class="fas fa-ad"></span>
              </div>
              <h2 class="card-title mb-3 text-dark">Anuncios</h2></a>
              <p class="text-muted card-text text-sm">Publicita tus imbuebles y terrenos. </p>
              <p class="collapse text-muted card-text text-sm" id="expAnuncios">
                La cantidad de inmuebles es ilimitada, ¡claro! previamente verificados.</p>
              <a href="#" class=" link-c link-icon" data-toggle="collapse" data-target="#expAnuncios"
                aria-expanded="false" aria-controls="expAnuncios">Leer mas
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 mb-30px">
          <div class="card h-100 border-0 shadow hover-animate radius-r">
            <div class="card-body">
              <div class="icon-rounded bg-secondary-light mb-3 card-box-ico">
                <span class="fas fa-user-friends"></span>
              </div>
              <h2 class="card-title mb-3 text-dark">Roommate</h2>
              <p class="text-muted card-text text-sm">Intercamabio de experiencias y conocimientos. </p>
              <p class="collapse text-muted card-text text-sm" id="expRoommate">El concepto de vivienda compartida o
                colectiva donde puedes habitar
                con personas que comparten tus mismos gustos y aficiones para una completa armonia</p>
              <a href="#" class=" link-c link-icon" data-toggle="collapse" data-target="#expRoommate"
                aria-expanded="false" aria-controls="expRoommate">Leer mas
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 mb-30px">
          <div class="card h-100 border-0 shadow hover-animate radius-r">
            <div class="card-body">
              <div class="icon-rounded bg-secondary-light mb-3 card-box-ico">
                <span class="fas fa-address-card"></span>
              </div>
              <h2 class="card-title mb-3 text-dark">Sis. de verificacion</h2>
              <p class="text-muted card-text text-sm">En Looking queremos brindar la mayor seguridad a nuestros
                usuarios.</p>
              <p class="collapse text-muted card-text text-sm" id="expSisVeri">Para ello hemos desarrollado un sistema
                de verificación,
                donde nos cercioramos de que los anunciantes son personas reales y los bienes publicados son reales</p>

              <a href="#" class=" link-c link-icon" data-toggle="collapse" data-target="#expSisVeri"
                aria-expanded="false" aria-controls="expSisVeri">Leer mas
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 mb-30px">
          <div class="card h-100 border-0 shadow hover-animate radius-r">
            <div class="card-body">
              <div class="icon-rounded bg-secondary-light mb-3 card-box-ico">
                <span class="fa fa-usd"></span>
              </div>
              <h2 class="card-title mb-3 text-dark">Pagos seguros</h2></a>
              <p class="text-muted card-text text-sm">Contamos con una sofisticada plazoleta de pagos.</p>
              <p class="collapse text-muted card-text text-sm" id="expPagoSeguro">Para que tu experienda de compra y
                recaudo
                sea mas facil y segura</p>
              <a href="#" class=" link-c link-icon" data-toggle="collapse" data-target="#expPagoSeguro"
                aria-expanded="false" aria-controls="expPagoSeguro">Leer mas
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!--/ Services End /-->

<!--/ Sing in /-->

{% if request.user.is_authenticated == False %}
<section class="section-property section-t8">
  <div class="container bg-gray-100 py-6 px-3 px-lg-5 radius-r shadow " style="background: url(static/img/bg/westerheversand-lighthouse.png); width: 100%;    
  background-repeat: no-repeat;  background-position: top center;  background-size: cover;">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0 text-center text-lg-left p-4">
        <p class="subtitle text-secondary">EMPIECE A USAR LOOKING HOY</p>
        <p class="text-lg">
          Looking es la mejor manera de buscar y vivir grandes experiencias Inmobiliarias
        </p>
        <p class="text-muted mb-0">...</p>
      </div>
      <div class="col-lg-6 d-flex align-items-center justify-content-center">

        <div class="text-center">
          <p class="mb-2">
            <a class="btn btn-lg btn-primary" href="sing-in" style="border-radius: 5rem;">Crea Tu Cuenta</a>
          </p>
          <p class="text-muted text-small">¡Es gratis!</p>
        </div>

      </div>
    </div>
  </div>
</section>
{% endif %}
<!--/ Sing In End /-->

<!--/ Property Start /-->
<section class="section-property section-t8">
  <div class="container-fluid shadow-lg espaciado" style="background: #f9c74f;">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <p class="subtitle text-secondary-2" style="color: white;">Observa nuestros</p>
            <h2 class="title-a" style="color: white;">Ultimos Inmuebles</h2>
          </div>
          <div class="title-link">
            <a href="property-grid" style="color: white;">Todos los Inmuebles
              <span class="ion-ios-arrow-forward"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="property-carousel" class="owl-carousel owl-theme">
        <div class="carousel-item-b ">
          <div class="card-box-a card-shadow radius-r  rd-size ">
            <div class="img-box-a">
              <img src="static/img/property-6.jpg" alt="" class="img-a img-fluid" />
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="property-single">Cll 23N 4-50 <br />
                      Villa Docente</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">Alquiler | $ 700.000</span>
                  </div>
                  <a href="#" class="link-a">Ver mas
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Area</h4>
                      <span>340m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Dormitorios</h4>
                      <span>2</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baños</h4>
                      <span>4</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Garajes</h4>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item-b">
          <div class="card-box-a card-shadow radius-r  rd-size">
            <div class="img-box-a">
              <img src="static/img/property-3.jpg" alt="" class="img-a img-fluid" />
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="property-single">Cll 24N 4-50 <br />
                      Villa Docente</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">Alquiler | $ 350.000</span>
                  </div>
                  <a href="property-single" class="link-a">Ver mas
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Area</h4>
                      <span>340m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Dormitorios</h4>
                      <span>2</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baños</h4>
                      <span>4</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Garajes</h4>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item-b">
          <div class="card-box-a card-shadow radius-r  rd-size">
            <div class="img-box-a">
              <img src="static/img/property-7.jpg" alt="" class="img-a img-fluid" />
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="property-single">Cll 25N 4-50 <br />
                      Villa Docente</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">Alquiler | $ 650.000</span>
                  </div>
                  <a href="property-single" class="link-a">Ver mas
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Area</h4>
                      <span>340m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Dormitorios</h4>
                      <span>2</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baños</h4>
                      <span>4</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Garajes</h4>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item-b">
          <div class="card-box-a card-shadow radius-r  rd-size">
            <div class="img-box-a">
              <img src="static/img/property-10.jpg" alt="" class="img-a img-fluid" />
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="property-single">Cll 26N 4-50 <br />
                      Villa Docente</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">Alquiler | $ 12.000</span>
                  </div>
                  <a href="property-single" class="link-a">Ver mas
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Area</h4>
                      <span>340m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Dormitorios</h4>
                      <span>2</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baños</h4>
                      <span>4</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Garajes</h4>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--/ Property End /-->

<!--/ Agents Start /-->
<section class="section-agents section-t8">
  <div class="container-fluid shadow-lg espaciado">
    <div class="col-md-12">
      <div class="title-wrap d-flex justify-content-between">
        <div class="title-box">
          <p class="subtitle text-secondary">Conoce nuestros</p>
          <h2 class="title-a">Mejores Agentes</h2>
        </div>
        <div class="title-link">
          <a href="agents-grid">Todos los Agentes
            <span class="ion-ios-arrow-forward"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-d radius-r rd-size-2 shadow">
            <div class="card-img-d">
              <img src="static/img/agent-4.jpg" alt="" class="img-d img-fluid" />
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="agent-single" class="link-two">Darcy Nayelly <br />
                      Caicedo</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Carismatica en fin todo lo que se pueda ocurrir.
                </p>
                <div class="info-agents color-a">
                  <p><strong>Telefono: </strong> +57 317-419 3127</p>
                  <p><strong>Email: </strong> agents@looking.page</p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-d radius-r rd-size-2 shadow">
            <div class="card-img-d">
              <img src="static/img/agent-1.jpg" alt="" class="img-d img-fluid" />
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="agent-single" class="link-two">Luis Fernando <br />
                      Camilo</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Buena persona y todo lo que se me ocurra
                </p>
                <div class="info-agents color-a">
                  <p><strong>Telefono: </strong> +57 317-419 3127</p>
                  <p><strong>Email: </strong> agents@looking.page</p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-d radius-r rd-size-2 shadow">
            <div class="card-img-d">
              <img src="static/img/agent-5.jpg" alt="" class="img-d img-fluid" />
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="agent-single" class="link-two">Jhonathan David <br />
                      Angulo</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Buena persona y todo lo que se me ocurra
                </p>
                <div class="info-agents color-a">
                  <p><strong>Telefono: </strong> +57 317-419 3127</p>
                  <p><strong>Email: </strong> agents@looking.page</p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Agents End /-->

<!--/ News Start /-->
<section class="section-news section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Ultimas Noticias</h2>
          </div>
          <div class="title-link">
            <a href="blog-grid">Todas las Noticias
              <span class="ion-ios-arrow-forward"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="new-carousel" class="owl-carousel owl-theme">
      <div class="carousel-item-c">
        <div class="card-box-b card-shadow news-box">
          <div class="img-box-b">
            <img src="static/img/post-2.jpg" alt="" class="img-b img-fluid" />
          </div>
          <div class="card-overlay">
            <div class="card-header-b">
              <div class="card-category-b">
                <a href="#" class="category-b">Hogar</a>
              </div>
              <div class="card-title-b">
                <h2 class="title-2">
                  <a href="blog-single">Nuevos diseños de interiores <br />
                    Noticias</a>
                </h2>
              </div>
              <div class="card-date">
                <span class="date-b">05 Sep. 2020</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-c">
        <div class="card-box-b card-shadow news-box">
          <div class="img-box-b">
            <img src="static/img/post-5.jpg" alt="" class="img-b img-fluid" />
          </div>
          <div class="card-overlay">
            <div class="card-header-b">
              <div class="card-category-b">
                <a href="#" class="category-b">Viajes</a>
              </div>
              <div class="card-title-b">
                <h2 class="title-2">
                  <a href="blog-single">Nuevos planes de hospedaje <br />
                    Noticias</a>
                </h2>
              </div>
              <div class="card-date">
                <span class="date-b">05 Sep. 2020</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-c">
        <div class="card-box-b card-shadow news-box">
          <div class="img-box-b">
            <img src="static/img/post-7.jpg" alt="" class="img-b img-fluid" />
          </div>
          <div class="card-overlay">
            <div class="card-header-b">
              <div class="card-category-b">
                <a href="#" class="category-b">Parques</a>
              </div>
              <div class="card-title-b">
                <h2 class="title-2">
                  <a href="blog-single">Acercate al parque <br />
                    Noticias</a>
                </h2>
              </div>
              <div class="card-date">
                <span class="date-b">05 Sep. 2020</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-c">
        <div class="card-box-b card-shadow news-box">
          <div class="img-box-b">
            <img src="static/img/post-3.jpg" alt="" class="img-b img-fluid" />
          </div>
          <div class="card-overlay">
            <div class="card-header-b">
              <div class="card-category-b">
                <a href="#" class="category-b">Viajes</a>
              </div>
              <div class="card-title-b">
                <h2 class="title-2">
                  <a href="#">Explora, vive nuevas experiencias <br />
                    Noticias</a>
                </h2>
              </div>
              <div class="card-date">
                <span class="date-b">05 Sep. 2020</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ News End /-->

<!--/ Testimonials Start /-->
<section class="section-testimonials section-t8 nav-arrow-a">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Testimonios</h2>
          </div>
        </div>
      </div>
    </div>
    <div id="testimonial-carousel" class="owl-carousel owl-arrow">
      <div class="carousel-item-a">
        <div class="testimonials-box">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="testimonial-img">
                <img src="static/img/testimonial-1.jpg" alt="" class="img-fluid" />
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="testimonial-ico">
                <span class="ion-ios-quote"></span>
              </div>
              <div class="testimonials-content">
                <p class="testimonial-text">Son una gran compañia</p>
              </div>
              <div class="testimonial-author-box">
                <img src="static/img/mini-testimonial-1.jpg" alt="" class="testimonial-avatar" />
                <h5 class="testimonial-author">Alberto & Erika</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a">
        <div class="testimonials-box">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="testimonial-img">
                <img src="static/img/testimonial-2.jpg" alt="" class="img-fluid" />
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="testimonial-ico">
                <span class="ion-ios-quote"></span>
              </div>
              <div class="testimonials-content">
                <p class="testimonial-text">Muy buena atencion</p>
              </div>
              <div class="testimonial-author-box">
                <img src="static/img/mini-testimonial-2.jpg" alt="" class="testimonial-avatar" />
                <h5 class="testimonial-author">Carlos & Maria</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Testimonials End /-->
{% endblock %}