{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio {% endblock %}

{% block content %}

<div class="intro intro-carousel">
  <div id="carousel" class="owl-carousel owl-theme">
    <div class="carousel-item-a intro-item bg-image" style="background-image: url(static/img/slide-1.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">
                    Popayan, Cauca <br /> 190001
                  </p>
                  <h1 class="intro-title mb-4">
                    <span class="color-b">Cll 26BN </span> 4-30 <br /> Villa Docente
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="#"><span class="price-a">Alquiler | $ 500.000</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item-a intro-item bg-image" style="background-image: url(static/img/slide-2.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">
                    Popayan, Cauca <br />
                    190001
                  </p>
                  <h1 class="intro-title mb-4">
                    <span class="color-b">4-30 </span> Cll 26BN <br />
                    Villa Docente
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="#"><span class="price-a">Alquiler | $ 600.000</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item-a intro-item bg-image" style="background-image: url(static/img/slide-3.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">
                    Popayan, Cauca <br />
                    190001
                  </p>
                  <h1 class="intro-title mb-4">
                    <span class="color-b">Kr4 </span> Cll 26BN 4-30 <br />
                    Villa Docente
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="#"><span class="price-a">Alquiler | $ 450.000</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Carousel end /-->

<!-- Bienvenido Star -->
{% if request.user.is_authenticated %}
<section class="welcome section-t8">
  <div class="container-fluid container-rojo ">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-center">
          <div class="title-box">
            <div class="container ">
              <div class="col-mb-4">
                <h2 class="title-a" style="color:#ffc02d ;">Bienvenido
                  <span class="text-left-name " style="text-transform:capitalize; color:#ffff ;">
                    {{request.user.username}}
                  </span>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="masthead masthead-page mb-5">
      <svg style="pointer-events: none" class="wave" width="100%" height="70px" preserveAspectRatio="none"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
        <defs>
          <style>
            .a {
              fill: none;
            }

            .b {
              clip-path: url(#a);
            }

            .c,
            .d {
              fill: #ffffff;
            }

            .d {
              opacity: 0.5;
              isolation: isolate;
            }
          </style>
          <clipPath id="a">
            <rect class="a" width="1920" height="75"></rect>
          </clipPath>
        </defs>
        <title>wave</title>
        <g class="b">
          <path class="c"
            d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48">
          </path>
        </g>
        <g class="b">
          <path class="d"
            d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10">
          </path>
        </g>
        <g class="b">
          <path class="d"
            d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24">
          </path>
        </g>
        <g class="b">
          <path class="d"
            d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150">
          </path>
        </g>
      </svg>
    </div>
  </div>
</section>
{% endif %}
<!--Bienvenido End-->


<!--/ Services Star /-->
<section class="services section-t8" >
  <div class="container-fluid shadow-lg espaciado"style="background-color: #f9c74f;">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <p class="subtitle text-secondary-2" style="color: white;">Conoce</p>
            <h2 class="title-a" style="color: white;">Nuestros Servicios</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-4 mb-30px">
          <div class="card h-100 border-0 shadow hover-animate">
            <div class="card-body">
              <div class="icon-rounded bg-secondary-light mb-3 card-box-ico">
                <span class="fa fa-home"></span>
              </div>
                <h2 class="card-title mb-3 text-dark">Compraventa</h2></a>
                <p class="text-muted card-text text-sm">La compraventa de bienes inmuebles es 
                  un asunto de cuidado, para ello en Looking llevamos un riguroso seguimiento 
                  de nuestros usuarios, para brindarte la mayor seguridad y satisfaccion a la hora de adquirir su inmueble
                  .</p>
                <a href="#" class=" link-c link-icon">Leer mas
                  <span class="ion-ios-arrow-forward"></span>
                </a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 mb-30px text-muted">
          <div class="card h-100 border-0 shadow hover-animate">
            <div class="card-body">
              <div class="icon-rounded bg-secondary-light mb-3 card-box-ico">
                <span class="fas fa-handshake"></span>
              </div>
              <h2 class="card-title mb-3 text-dark">Alquiler</h2></a>
                <p class="text-muted card-text text-sm">Te facilitamos las cosas, creamos filtros .</p>
                <a href="#" class=" link-c link-icon">Leer mas
                  <span class="ion-ios-arrow-forward"></span>
                </a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 mb-30px text-muted">
          <div class="card h-100 border-0 shadow hover-animate">
            <div class="card-body">
              <div class="icon-rounded bg-secondary-light mb-3 card-box-ico">
                <span class="fas fa-ad"></span>
              </div>
              <h2 class="card-title mb-3 text-dark">Anuncios</h2></a>
                <p class="text-muted card-text text-sm">En nuestro sitio web puedes publicitar de manera ilimitada 
                  la cantidad de inmuebles que desees previamente verificados.</p>
                <a href="#" class=" link-c link-icon">Leer mas
                  <span class="ion-ios-arrow-forward"></span>
                </a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 mb-30px">
          <div class="card h-100 border-0 shadow hover-animate">
            <div class="card-body">
              <div class="icon-rounded bg-secondary-light mb-3 card-box-ico">
                <span class="fas fa-user-friends"></span>
              </div>
              <h2 class="card-title mb-3 text-dark">Roommate</h2></a>
                <p class="text-muted card-text text-sm">Puedes compartir vivienda con personas con tus 
                  mismos gustos y aficiones
                </p>
                <a href="#" class=" link-c link-icon">Leer mas
                  <span class="ion-ios-arrow-forward"></span>
                </a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 mb-30px">
          <div class="card h-100 border-0 shadow hover-animate">
            <div class="card-body">
              <div class="icon-rounded bg-secondary-light mb-3 card-box-ico">
                <span class="fas fa-address-card"></span>
              </div>
              <h2 class="card-title mb-3 text-dark">Sistema de verificacion</h2></a>
                <p class="text-muted card-text text-sm">En Looking queremos brindar la mayor seguridad a nuestros 
                  usuarios, para ello hemos desarrollado un sistema de verificación, donde nos cercioramos de que 
                  son personas reales y bienes reales 
                </p>
                <a href="#" class=" link-c link-icon">Leer mas
                  <span class="ion-ios-arrow-forward"></span>
                </a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 mb-30px">
          <div class="card h-100 border-0 shadow hover-animate">
            <div class="card-body">
              <div class="icon-rounded bg-secondary-light mb-3 card-box-ico">
                <span class="fa fa-usd"></span>
              </div>
              <h2 class="card-title mb-3 text-dark">Pagos seguros</h2></a>
                <p class="text-muted card-text text-sm">Contamos con una sofisticada plazoleta de pagos 
                  para hacer mas facil su experiencia de compra  
                </p>
                <a href="#" class=" link-c link-icon">Leer mas
                  <span class="ion-ios-arrow-forward"></span>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!--/ Services End /-->

<!--/ Sing in /-->

{% if request.user.is_authenticated == False %}
<section class="section-property section-t8">
  <div class="container bg-gray-100 py-6 px-3 px-lg-5 rounded-lg shadow-lg">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0 text-center text-lg-left">
        <p class="subtitle text-secondary">EMPIECE A USAR LOOKING HOY</p>
        <p class="text-lg">
          Looking es la mejor manera de buscar y vivir grandes experiencias Inmobiliarias
        </p>
        <p class="text-muted mb-0">...</p>
      </div>
      <div class="col-lg-6 d-flex align-items-center justify-content-center">

        <div class="text-center">
          <p class="mb-2">
            <a class="btn btn-lg btn-primary" href="sing-in" style="border-radius: 5rem;">Crea Tu Cuenta</a>
          </p>
          <p class="text-muted text-small">¡Es gratis!</p>
        </div>

      </div>
    </div>
  </div>
</section>
{% endif %}
<!--/ Sing In End /-->

<!--/ Property Star /-->
<section class="section-property section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <p class="subtitle text-secondary" >Observa nuestros</p>
            <h2 class="title-a">Ultimos Inmuebles</h2>
          </div>
          <div class="title-link">
            <a href="property-grid">Todos los Inmuebles
              <span class="ion-ios-arrow-forward"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="property-carousel" class="owl-carousel owl-theme">
      <div class="carousel-item-b">
        <div class="card-box-a card-shadow">
          <div class="img-box-a">
            <img src="static/img/property-6.jpg" alt="" class="img-a img-fluid" />
          </div>
          <div class="card-overlay">
            <div class="card-overlay-a-content">
              <div class="card-header-a">
                <h2 class="card-title-a">
                  <a href="property-single">Cll 23N 4-50 <br />
                    Villa Docente</a>
                </h2>
              </div>
              <div class="card-body-a">
                <div class="price-box d-flex">
                  <span class="price-a">Alquiler | $ 700.000</span>
                </div>
                <a href="#" class="link-a">Ver mas
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </div>
              <div class="card-footer-a">
                <ul class="card-info d-flex justify-content-around">
                  <li>
                    <h4 class="card-info-title">Area</h4>
                    <span>340m
                      <sup>2</sup>
                    </span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Dormitorios</h4>
                    <span>2</span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Baños</h4>
                    <span>4</span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Garajes</h4>
                    <span>1</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-b">
        <div class="card-box-a card-shadow">
          <div class="img-box-a">
            <img src="static/img/property-3.jpg" alt="" class="img-a img-fluid" />
          </div>
          <div class="card-overlay">
            <div class="card-overlay-a-content">
              <div class="card-header-a">
                <h2 class="card-title-a">
                  <a href="property-single">Cll 24N 4-50 <br />
                    Villa Docente</a>
                </h2>
              </div>
              <div class="card-body-a">
                <div class="price-box d-flex">
                  <span class="price-a">Alquiler | $ 350.000</span>
                </div>
                <a href="property-single" class="link-a">Ver mas
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </div>
              <div class="card-footer-a">
                <ul class="card-info d-flex justify-content-around">
                  <li>
                    <h4 class="card-info-title">Area</h4>
                    <span>340m
                      <sup>2</sup>
                    </span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Dormitorios</h4>
                    <span>2</span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Baños</h4>
                    <span>4</span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Garajes</h4>
                    <span>1</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-b">
        <div class="card-box-a card-shadow">
          <div class="img-box-a">
            <img src="static/img/property-7.jpg" alt="" class="img-a img-fluid" />
          </div>
          <div class="card-overlay">
            <div class="card-overlay-a-content">
              <div class="card-header-a">
                <h2 class="card-title-a">
                  <a href="property-single">Cll 25N 4-50 <br />
                    Villa Docente</a>
                </h2>
              </div>
              <div class="card-body-a">
                <div class="price-box d-flex">
                  <span class="price-a">Alquiler | $ 650.000</span>
                </div>
                <a href="property-single" class="link-a">Ver mas
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </div>
              <div class="card-footer-a">
                <ul class="card-info d-flex justify-content-around">
                  <li>
                    <h4 class="card-info-title">Area</h4>
                    <span>340m
                      <sup>2</sup>
                    </span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Dormitorios</h4>
                    <span>2</span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Baños</h4>
                    <span>4</span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Garajes</h4>
                    <span>1</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-b">
        <div class="card-box-a card-shadow">
          <div class="img-box-a">
            <img src="static/img/property-10.jpg" alt="" class="img-a img-fluid" />
          </div>
          <div class="card-overlay">
            <div class="card-overlay-a-content">
              <div class="card-header-a">
                <h2 class="card-title-a">
                  <a href="property-single">Cll 26N 4-50 <br />
                    Villa Docente</a>
                </h2>
              </div>
              <div class="card-body-a">
                <div class="price-box d-flex">
                  <span class="price-a">Alquiler | $ 12.000</span>
                </div>
                <a href="property-single" class="link-a">Ver mas
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </div>
              <div class="card-footer-a">
                <ul class="card-info d-flex justify-content-around">
                  <li>
                    <h4 class="card-info-title">Area</h4>
                    <span>340m
                      <sup>2</sup>
                    </span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Dormitorios</h4>
                    <span>2</span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Baños</h4>
                    <span>4</span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Garajes</h4>
                    <span>1</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Property End /-->

<!--/ Agents Star /-->
<section class="section-agents section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Mejores Agentes</h2>
          </div>
          <div class="title-link">
            <a href="agents-grid">Todos los Agentes
              <span class="ion-ios-arrow-forward"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <img src="static/img/agent-4.jpg" alt="" class="img-d img-fluid" />
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">
                  <a href="agent-single" class="link-two">Darcy Nayelly <br />
                    Caicedo</a>
                </h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d color-text-a">
                Carismatica en fin todo lo que se pueda ocurrir.
              </p>
              <div class="info-agents color-a">
                <p><strong>Telefono: </strong> +57 317-419 3127</p>
                <p><strong>Email: </strong> agents@looking.page</p>
              </div>
            </div>
            <div class="card-footer-d">
              <div class="socials-footer d-flex justify-content-center">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fa fa-dribbble" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <img src="static/img/agent-1.jpg" alt="" class="img-d img-fluid" />
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">
                  <a href="agent-single" class="link-two">Luis Fernando <br />
                    Camilo</a>
                </h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d color-text-a">
                Buena persona y todo lo que se me ocurra
              </p>
              <div class="info-agents color-a">
                <p><strong>Telefono: </strong> +57 317-419 3127</p>
                <p><strong>Email: </strong> agents@looking.page</p>
              </div>
            </div>
            <div class="card-footer-d">
              <div class="socials-footer d-flex justify-content-center">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fa fa-dribbble" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <img src="static/img/agent-5.jpg" alt="" class="img-d img-fluid" />
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">
                  <a href="agent-single" class="link-two">Jhonathan David <br />
                    Angulo</a>
                </h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d color-text-a">
                Buena persona y todo lo que se me ocurra
              </p>
              <div class="info-agents color-a">
                <p><strong>Telefono: </strong> +57 317-419 3127</p>
                <p><strong>Email: </strong> agents@looking.page</p>
              </div>
            </div>
            <div class="card-footer-d">
              <div class="socials-footer d-flex justify-content-center">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="link-one">
                      <i class="fa fa-dribbble" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Agents End /-->

<!--/ News Star /-->
<section class="section-news section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Ultimas Noticias</h2>
          </div>
          <div class="title-link">
            <a href="blog-grid">Todas las Noticias
              <span class="ion-ios-arrow-forward"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="new-carousel" class="owl-carousel owl-theme">
      <div class="carousel-item-c">
        <div class="card-box-b card-shadow news-box">
          <div class="img-box-b">
            <img src="static/img/post-2.jpg" alt="" class="img-b img-fluid" />
          </div>
          <div class="card-overlay">
            <div class="card-header-b">
              <div class="card-category-b">
                <a href="#" class="category-b">Hogar</a>
              </div>
              <div class="card-title-b">
                <h2 class="title-2">
                  <a href="blog-single">Nuevos diseños de interiores <br />
                    Noticias</a>
                </h2>
              </div>
              <div class="card-date">
                <span class="date-b">05 Sep. 2020</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-c">
        <div class="card-box-b card-shadow news-box">
          <div class="img-box-b">
            <img src="static/img/post-5.jpg" alt="" class="img-b img-fluid" />
          </div>
          <div class="card-overlay">
            <div class="card-header-b">
              <div class="card-category-b">
                <a href="#" class="category-b">Viajes</a>
              </div>
              <div class="card-title-b">
                <h2 class="title-2">
                  <a href="blog-single">Nuevos planes de hospedaje <br />
                    Noticias</a>
                </h2>
              </div>
              <div class="card-date">
                <span class="date-b">05 Sep. 2020</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-c">
        <div class="card-box-b card-shadow news-box">
          <div class="img-box-b">
            <img src="static/img/post-7.jpg" alt="" class="img-b img-fluid" />
          </div>
          <div class="card-overlay">
            <div class="card-header-b">
              <div class="card-category-b">
                <a href="#" class="category-b">Parques</a>
              </div>
              <div class="card-title-b">
                <h2 class="title-2">
                  <a href="blog-single">Acercate al parque <br />
                    Noticias</a>
                </h2>
              </div>
              <div class="card-date">
                <span class="date-b">05 Sep. 2020</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-c">
        <div class="card-box-b card-shadow news-box">
          <div class="img-box-b">
            <img src="static/img/post-3.jpg" alt="" class="img-b img-fluid" />
          </div>
          <div class="card-overlay">
            <div class="card-header-b">
              <div class="card-category-b">
                <a href="#" class="category-b">Viajes</a>
              </div>
              <div class="card-title-b">
                <h2 class="title-2">
                  <a href="#">Explora, vive nuevas experiencias <br />
                    Noticias</a>
                </h2>
              </div>
              <div class="card-date">
                <span class="date-b">05 Sep. 2020</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ News End /-->

<!--/ Testimonials Star /-->
<section class="section-testimonials section-t8 nav-arrow-a">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Testimonios</h2>
          </div>
        </div>
      </div>
    </div>
    <div id="testimonial-carousel" class="owl-carousel owl-arrow">
      <div class="carousel-item-a">
        <div class="testimonials-box">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="testimonial-img">
                <img src="static/img/testimonial-1.jpg" alt="" class="img-fluid" />
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="testimonial-ico">
                <span class="ion-ios-quote"></span>
              </div>
              <div class="testimonials-content">
                <p class="testimonial-text">Son una gran compañia</p>
              </div>
              <div class="testimonial-author-box">
                <img src="static/img/mini-testimonial-1.jpg" alt="" class="testimonial-avatar" />
                <h5 class="testimonial-author">Alberto & Erika</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a">
        <div class="testimonials-box">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="testimonial-img">
                <img src="static/img/testimonial-2.jpg" alt="" class="img-fluid" />
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="testimonial-ico">
                <span class="ion-ios-quote"></span>
              </div>
              <div class="testimonials-content">
                <p class="testimonial-text">Muy buena atencion</p>
              </div>
              <div class="testimonial-author-box">
                <img src="static/img/mini-testimonial-2.jpg" alt="" class="testimonial-avatar" />
                <h5 class="testimonial-author">Carlos & Maria</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Testimonials End /-->
{% endblock %}