{% extends 'base.html' %}

{% block content %}
<!--/ Intro Single star /-->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <span class="subtitle text-secondary ">Agregar un inmueble nuevo</span>
                    <h2 class="color-text-a">Textos</h2>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="add-property">Agregar</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="add-property-1">Informacion basica</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Textos
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container" style="padding-bottom: 10;">
        <div class="progress rounded-0 sticky-top" style="height: 8px; top: 71px;">
            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
    </div>
</section>
<!--/ Intro Single End /-->

<section class="py-5">
    <div class="container">
        <h1 class="h2 mb-5">
            <span class="text-muted float-right">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Paso 2</font>
                </font>
            </span>
        </h1>
        <form>
            <div class="row form-block">
                <div class="col-lg-4">
                    <h4>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Descripción</font>
                        </font>
                    </h4>
                    <p class="text-muted text-sm">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"> Samsa era un vendedor ambulante, y encima colgaba un
                                cuadro que había recortado recientemente de una revista ilustrada y que había guardado
                                en un bonito marco dorado.</font>
                        </font>
                    </p>
                </div>
                <div class="col-lg-7 ml-auto">
                    <div class="form-group mb-5">
                        <label class="form-label" for="form_description">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Describe tu lugar a los invitados</font>
                            </font>
                        </label>
                        <textarea class="form-control" name="name" id="form_description" rows="5"
                            aria-describedby="descriptionHelp"></textarea><small class="form-text text-muted mt-2"
                            id="descriptionHelp">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">La ropa de cama apenas podía cubrirlo y parecía
                                    estar lista para deslizarse en cualquier momento. </font>
                                <font style="vertical-align: inherit;">Sus muchas piernas, lastimosamente delgadas en
                                    comparación con el tamaño del resto de él, se movían impotentes mientras miraba.
                                </font>
                                <font style="vertical-align: inherit;">"¿Qué me ha pasado?" </font>
                                <font style="vertical-align: inherit;">el pensó. </font>
                                <font style="vertical-align: inherit;">No fue un sueño. </font>
                            </font>
                        </small>
                    </div>
                    <div class="form-group mb-5">
                        <label class="form-label" for="form_availability">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Tu disponibilidad</font>
                            </font>
                        </label>
                        <textarea class="form-control" name="name" id="form_availability" rows="3"
                            aria-describedby="availabilityHelp"></textarea><small class="form-text text-muted mt-2"
                            id="availabilityHelp">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Su habitación, una habitación humana propiamente
                                    dicha, aunque un poco demasiado pequeña, se encontraba tranquilamente entre sus
                                    cuatro paredes familiares. </font>
                                <font style="vertical-align: inherit;">Sobre la mesa había una colección de muestras
                                    textiles. </font>
                            </font>
                        </small>
                    </div>
                    <div class="form-group mb-5">
                        <label class="form-label" for="form_neighbourhood">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Tu barrio</font>
                            </font>
                        </label>
                        <textarea class="form-control" name="name" id="form_neighbourhood" rows="3"
                            aria-describedby="hoodHelp"></textarea><small class="form-text text-muted mt-2"
                            id="hoodHelp">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Samsa era un vendedor ambulante, y encima colgaba
                                    un cuadro que había recortado recientemente de una revista ilustrada y que había
                                    guardado en un bonito marco dorado. </font>
                            </font>
                        </small>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row form-block flex-column flex-sm-row">
                <div class="col text-center text-sm-left"><a class="btn btn-link text-muted" href="add-property-1"> <i
                            class="fa-chevron-left fa mr-2"></i>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">atrás</font>
                        </font>
                    </a>
                </div>
                <div class="col text-center text-sm-right">
                    <a class="btn btn-primary px-3" href="add-property-3">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"> Próximo paso</font>
                        </font><i class="fa-chevron-right fa ml-2"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock content %}