{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">

{% endblock  %}

{% block content %}



    <!--/ Breadcrumb Star /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">{{request.user.username}}</h1>
                        <span class="color-text-a">Administra tu cuenta aqui.</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index">Inicio</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Cuenta
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--/ Breadcrumb End /-->
    <header class="header">
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-4 mb-30px">
                        <div class="card h-100 border-0 shadow hover-animate">
                            <div class="card-body">
                                <div class="icon-rounded bg-secondary-light mb-3">
                                    <svg class="svg-icon text-secondary w-2rem h-2rem">
                                        <use href="#identity-1">
                                            <svg xmlns="" viewBox="0 0 64 64" id="identity-1">
                                                <title>Identity</title>
                                                <desc>A line styled icon from Orion Icon Library.</desc>
                                                <path data-name="layer1"
                                                    d="M34 46.9c4-.9 4-2.3 4-3.3v-1.5a9.3 9.3 0 0 1-2.9-6.9v-4.5a7 7 0 0 1 13.9 0v4.5a9.3 9.3 0 0 1-3 6.9v1.5c0 .9 0 2.4 4.1 3.3S54 52 54 52H30a5.1 5.1 0 0 1 4-5.1z"
                                                    fill="none" stroke="#101010" stroke-miterlimit="10"
                                                    stroke-linejoin="round" stroke-linecap="round"
                                                    style="stroke:var(--layer2, #101010)"></path>
                                                <path data-name="layer2" fill="none" stroke="#101010"
                                                    stroke-miterlimit="10"
                                                    d="M10 10H2v50h60V10h-8M26 24H10m10 8H10m14 8H10m8-30h28"
                                                    stroke-linejoin="round" stroke-linecap="round"
                                                    style="stroke:var(--layer2, #101010)"></path>
                                                <path data-name="layer1" fill="none" stroke="#101010"
                                                    stroke-miterlimit="10" d="M10 4h8v12h-8zm36 0h8v12h-8z"
                                                    stroke-linejoin="round" stroke-linecap="round"
                                                    style="stroke:var(--layer2, #101010)"></path>
                                            </svg>
                                        </use>
                                    </svg>
                                </div>
                                <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link"
                                        href="user-personal">Información personal</a></h5>
                                <p class="text-muted card-text text-sm">Proporcione datos personales y cómo podemos
                                    comunicarnos con usted.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 mb-30px">
                        <div class="card h-100 border-0 shadow hover-animate">
                            <div class="card-body">
                                <div class="icon-rounded bg-secondary-light mb-3">
                                    <svg class="svg-icon text-secondary w-2rem h-2rem">
                                        <use href="#password-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="password-1">
                                                <title>Password</title>
                                                <desc>A line styled icon from Orion Icon Library.</desc>
                                                <path data-name="layer2" d="M38.5 48l-2.2-17.1a9 9 0 1 0-8.7 0L25.5 48z"
                                                    fill="none" stroke="#202020" stroke-miterlimit="10"
                                                    stroke-linejoin="round" stroke-linecap="round"
                                                    style="stroke:var(--layer1, #202020)"></path>
                                                <path data-name="layer1"
                                                    d="M62 53.5a8.5 8.5 0 0 1-8.5 8.5h-43A8.5 8.5 0 0 1 2 53.5v-43A8.5 8.5 0 0 1 10.5 2h43a8.5 8.5 0 0 1 8.5 8.5z"
                                                    fill="none" stroke="#202020" stroke-miterlimit="10"
                                                    stroke-linejoin="round" stroke-linecap="round"
                                                    style="stroke:var(--layer1, #202020)"></path>
                                            </svg>
                                        </use>
                                    </svg>
                                </div>
                                <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link"
                                        href="user-security.html">Iniciar sesión &amp; seguridad</a></h5>
                                <p class="text-muted card-text text-sm">Actualice su contraseña y asegure su cuenta</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 mb-30px">
                        <div class="card h-100 border-0 shadow hover-animate">
                            <div class="card-body">
                                <div class="icon-rounded bg-secondary-light mb-3">
                                    <svg class="svg-icon text-secondary w-2rem h-2rem">
                                        <use href="#pay-by-card-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                                                id="pay-by-card-1">
                                                <title>Pay by Card</title>
                                                <desc>A line styled icon from Orion Icon Library.</desc>
                                                <path data-name="layer1"
                                                    d="M40 20l8.8 8.7C51.2 31.1 52 34.2 52 40c0 8.6-.1 22-.1 22M22 44a20 20 0 0 0 3.3 11.5C28.1 60 28 61.3 28 62"
                                                    fill="none" stroke="#101010" stroke-miterlimit="10"
                                                    stroke-linejoin="round" stroke-linecap="round"
                                                    style="stroke:var(--layer2, #101010)"></path>
                                                <path data-name="layer2"
                                                    d="M29.8 44H14a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h24a2 2 0 0 1 2 2v31M30 2v23"
                                                    fill="none" stroke="#101010" stroke-miterlimit="10"
                                                    stroke-linejoin="round" stroke-linecap="round"
                                                    style="stroke:var(--layer2, #101010)"></path>
                                                <path data-name="layer1"
                                                    d="M44.1 39.1L28.4 23.5a5 5 0 0 0-7 0 5 5 0 0 0 0 7l8.6 8.6s-2.6 8 6 14.9"
                                                    fill="none" stroke="#101010" stroke-miterlimit="10"
                                                    stroke-linejoin="round" stroke-linecap="round"
                                                    style="stroke:var(--layer2, #101010)"></path>
                                            </svg>
                                        </use>
                                    </svg>
                                </div>
                                <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link"
                                        href="#"> Pagos &amp; desembolso</a></h5>
                                <p class="text-muted card-text text-sm">Revise pagos, desembolsos, cupones, tarjetas de
                                    regalo e impuestos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 mb-30px">
                        <div class="card h-100 border-0 shadow hover-animate">
                            <div class="card-body">
                                <div class="icon-rounded bg-secondary-light mb-3">
                                    <svg class="svg-icon text-secondary w-2rem h-2rem">
                                        <use href="#chat-app-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="chat-app-1">
                                                <title>Chat App</title>
                                                <desc>A line styled icon from Orion Icon Library.</desc>
                                                <path data-name="layer2"
                                                    d="M33.8 27.6a13 13 0 0 0 3.2.4h5v7l7.6-7A13 13 0 0 0 49 2H37a13 13 0 0 0-12 18"
                                                    fill="none" stroke="#101010" stroke-linecap="round"
                                                    stroke-linejoin="round" style="stroke:var(--layer1, #101010)">
                                                </path>
                                                <circle data-name="layer2" cx="43" cy="15" r="1" fill="none"
                                                    stroke="#101010" stroke-linecap="round" stroke-linejoin="round"
                                                    style="stroke:var(--layer1, #101010)"></circle>
                                                <circle data-name="layer2" cx="35" cy="15" r="1" fill="none"
                                                    stroke="#101010" stroke-linecap="round" stroke-linejoin="round"
                                                    style="stroke:var(--layer1, #101010)"></circle>
                                                <circle data-name="layer2" cx="51" cy="15" r="1" fill="none"
                                                    stroke="#101010" stroke-linecap="round" stroke-linejoin="round"
                                                    style="stroke:var(--layer1, #101010)"></circle>
                                                <path data-name="layer1"
                                                    d="M37.4 54.3c-8.2-1.4-7.4-3.5-7.4-4.9v-2.5a13.9 13.9 0 0 0 4-10.1v-6.7C34 22.8 28.7 20 24 20s-10 2.8-10 10.1v6.7a13.8 13.8 0 0 0 4.1 10.1v2.5c0 1.4.7 3.5-7.4 4.9S2 60 2 62h44c0-2-1.3-6.4-8.6-7.7z"
                                                    fill="none" stroke="#101010" stroke-linecap="round"
                                                    stroke-linejoin="round" style="stroke:var(--layer1, #101010)">
                                                </path>
                                            </svg>
                                        </use>
                                    </svg>
                                </div>
                                <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link"
                                        href="#">Notificaciones</a></h5>
                                <p class="text-muted card-text text-sm">Elija las preferencias de notificación y cómo
                                    desea ser contactado</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 mb-30px">
                        <div class="card h-100 border-0 shadow hover-animate">
                            <div class="card-body">
                                <div class="icon-rounded bg-secondary-light mb-3">
                                    <svg class="svg-icon text-secondary w-2rem h-2rem">
                                        <use href="#diary-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="diary-1">
                                                <title>Diary</title>
                                                <desc>A line styled icon from Orion Icon Library.</desc>
                                                <path data-name="layer1" fill="none" stroke="#101010" stroke-miterlimit="10" d="M19 6v56" stroke-linejoin="round" stroke-linecap="round" style="stroke:var(--layer2, #101010)"></path>
                                                <path data-name="layer2" d="M47 6h8v56H12a3 3 0 0 1-3-3V9a3 3 0 0 1 3-3h21" fill="none" stroke="#101010" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" style="stroke:var(--layer2, #101010)"></path>
                                                <path data-name="layer1" fill="none" stroke="#101010" stroke-miterlimit="10" d="M47 26l-6.9-4-7.1 4V2h14v24z" stroke-linejoin="round" stroke-linecap="round" style="stroke:var(--layer2, #101010)"></path>
                                            </svg>
                                        </use>
                                    </svg>
                                </div>

                                <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link"
                                        href="#">Privacidad &amp; compartir</a></h5>
                                <p class="text-muted card-text text-sm">Controla las aplicaciones conectadas, lo que
                                    compartes y quién lo ve</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 mb-30px">
                        <div class="card h-100 border-0 shadow hover-animate">
                            <div class="card-body">
                                <div class="icon-rounded bg-secondary-light mb-3">
                                    <svg class="svg-icon text-secondary w-2rem h-2rem">
                                        <use href="#mix-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="mix-1">
                                                <title>Mix</title>
                                                <desc>A line styled icon from Orion Icon Library.</desc>
                                                <path data-name="layer2" fill="none" stroke="#101010"
                                                    stroke-miterlimit="10"
                                                    d="M16 24v30m0-44v6m16 18v20m0-44v16m16 26v2m0-44v34M2 2h60v60H2z"
                                                    stroke-linejoin="round" stroke-linecap="round"
                                                    style="stroke:var(--layer1, #101010)"></path>
                                                <circle data-name="layer1" cx="16" cy="20" r="4" fill="none"
                                                    stroke="#101010" stroke-miterlimit="10" stroke-linejoin="round"
                                                    stroke-linecap="round" style="stroke:var(--layer1, #101010)">
                                                </circle>
                                                <circle data-name="layer1" cx="32" cy="30" r="4" fill="none"
                                                    stroke="#101010" stroke-miterlimit="10" stroke-linejoin="round"
                                                    stroke-linecap="round" style="stroke:var(--layer1, #101010)">
                                                </circle>
                                                <circle data-name="layer1" cx="48" cy="48" r="4" fill="none"
                                                    stroke="#101010" stroke-miterlimit="10" stroke-linejoin="round"
                                                    stroke-linecap="round" style="stroke:var(--layer1, #101010)">
                                                </circle>
                                            </svg>
                                        </use>
                                    </svg>
                                </div>
                                <h5 class="card-title mb-3"><a class="text-decoration-none text-dark stretched-link"
                                        href="#">Preferencias globlaes</a></h5>
                                <p class="text-muted card-text text-sm">Establezca su idioma, moneda y zona horaria
                                    predeterminados</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% endblock  %}