{% extends 'base.html' %}
{% load static %}


{% block title %}Aviso{% endblock  %}
    
{% block style %}
    <link rel="stylesheet" href="static/css/style_warning.css">

{% endblock  %}
    
{% block content %}
<section class="section-aviso">
    <div class="mh-full-screen d-flex align-items-center dark-overlay">
        <img class="bg-image"
            src="static/img/aron-visuals-3jBU9TbKW7o-unsplash.jpg"
            alt="">
        <div class="container text-white text-lg overlay-content py-6 py-lg-0">
            <h1 class="display-3 font-weight-bold mb-5">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit; color: white;">Oops, No puedes realizar esta accion</font>
                </font>
            </h1>
            <p class="font-weight-light mb-5">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Debes iniciar sesion para poder agregar inmuebles a este portal. </font>
                    <font style="vertical-align: inherit;">Registrate solo te tomara unos minutos, haz parte de nuestra comunidad y aprovecha las diferentes ofertas
                        que tenemos para ti.</font>
                </font>
            </p>
            <p class="mb-6"> <a class="btn btn-outline-light" href="index"><i class="fa fa-home mr-2"></i>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Volver al inicio</font>
                    </font>
                </a></p>
            <p class="h4 text-shadow">
                <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit;">error </font>
                </font>
            </p>
        </div>
    </div>
</section>

{% endblock  %}