{% extends 'base.html' %}

{% load static %}

{% block title %}Recuperar Contraseña{% endblock  %}

{% block content %}

{% block style %}
<style>
    body {
        background: #007bff;
        background: linear-gradient(to right, #0062E6, #33AEFF);
    }

</style>
{% endblock  %}

<section class='section-resetpassword section-t8'>
    <body class="bg-gradient-primary">
        <div class="container">
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <img src="static/img/4493.jpg" class="col-lg-6 d-none d-lg-block " style="background-position: center; background-size: cover;">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-2">Olvidaste tu contraseña?</h1>
                                            <p class="mb-4">Lo entendemos,estas cosas pasan. Simplemente ingrese su
                                                dirección de
                                                correo electrónico a continuación y le enviaremos un enlace para
                                                restablecer
                                                su contraseña.</p>
                                        </div>
                                        <form class="user">
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user text-center"
                                                    id="exampleInputEmail" aria-describedby="emailHelp"
                                                    placeholder="Ingrese Correo Electronico..."
                                                    style="border-radius: 5rem;">
                                            </div>
                                            <a href="login" class="btn btn-primary btn-user btn-block"
                                                style="border-radius: 5rem;">
                                                Restablecer contraseña
                                            </a>
                                        </form>
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="registry">Crear una cuenta!</a>
                                        </div>
                                        <div class="text-center">
                                            <a class="small" href="login">¿Ya tienes una cuenta? ¡Inicia
                                                sesión!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </body>
</section>
{% endblock  %}