{% extends 'base.html' %}
{% load static   %}
{% block title %}
Cuenta | Notificaciones
{% endblock  %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
<link rel="stylesheet" href="{% static 'css/switch.css' %}">
{% endblock style %}

{% block content %}
<!--/ Image Nav bar Start /-->
<section class="d-flex img-fluid-rj" style="background-image: url(static/img/bg/valley_illustration.png);">
    <div class="container-fluid intro-bg ">
    </div>
</section>
<!--/ Image Nav bar End /-->

<!--/ Breadcrumb Star /-->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single "> Privacidad &amp; compartir</h1>
                    <span class="color-text-a">Controla las aplicaciones conectadas, los que compartes y quien lo
                        ve</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="account">Cuenta</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Privacidad &amp; compartir
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--/ Breadcrumb End /-->

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="text-block">
                    <div class="row mb-3">
                        <!--/ Options Privacity & share  Start /-->
                        <div class="col-sm-9">
                            <h6>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Privacidad</font>
                                </font>
                            </h6>
                            <p class="text-sm text-muted">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Utilizamos cookies 
                                        para ayudar a personalizar el contenido, adaptar y medir 
                                        los anuncios y proporcionar una experiencia más segura.</font>
                                </font>
                            </p>
                        </div>

                        <!--/ Switch rounded Start /-->
                        <div class="col-sm-3 text-right">
                            <label class="switch">
                                <input type="checkbox" data-toggle="collapse" data-target="#updateCookies"
                                    aria-expanded="false">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <!--/ Switch rounded End /-->

                        <!--/ Modal Start /-->
                        <div class="collapse col-sm-6" id="updateCookies">
                            <form action="#" method="post"> {% csrf_token %}
                                <div class="row mt-4">
                                    <div class="form-group col-12">
                                        <label class="form-label" for="sms-cell">
                                            Numero de telefono</label>
                                        <input class="form-control input-border-radius " type="text" id="sms-cell">
                                    </div>
                                </div>
                                <button class="btn btn-outline-primary collapsed radius-border-r align-items-center"
                                    type="submit">Actualizar
                                </button>
                            </form>
                            <br>
                        </div>
                        <br>
                        <!--/ Modal End /-->
                        <div class="col-sm-9">
                            <h6>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Compartir mi actividad con facebook</font>
                                </font>
                            </h6>
                            <p class="text-sm text-muted">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Al activar esta opción, se compartirá tu actividad 
                                        en Facebook, que puede incluir tu nombre de usuario, tu foto de perfil y los lugares a 
                                        los que has viajado</font>
                                </font>
                            </p>
                        </div>
                        <div class="col-sm-3 text-right">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <br>

                        <div class="col-sm-9">
                            <h6>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Publicar tus elementos guardados en Facebook</font>
                                </font>
                            </h6>
                            <p class="text-sm text-muted">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Al activar esta opción, lo que guardes se publicará 
                                        automáticamente en Facebook.</font>
                                </font>
                            </p>
                        </div>
                        <div class="col-sm-3 text-right">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <br>

                        <div class="col-sm-9">
                            <h6>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Incluir mi perfil y mi anuncio en los motores de búsqueda</font>
                                </font>
                            </h6>
                            <p class="text-sm text-muted">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Al activar esta opción, motores de búsqueda, como el de Google, 
                                        mostrarán tu perfil y tus anuncios en los resultados de búsqueda</font>
                                </font>
                            </p>
                        </div>
                        <div class="col-sm-3 text-right">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <!--/Option Privacity & share End /-->
            </div>
            <div class="col-md-6 col-lg-4 ml-lg-auto">
                <div class="card border-0 shadow">
                    <div class="card-header bg-primary-light py-4 border-0">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <h4 class="h6 subtitle text-sm text-primary">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Puedes elegir que </font>
                                    </font>
                                </h4>
                            </div>
                            <svg class="svg-icon svg-icon svg-icon-light w-3rem h-3rem ml-3 text-primary">
                                <img class="ico-size" src="static/svg/ojo.svg" alt="">
                            </svg>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <p class="text-muted text-sm card-text">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">La privacidad es un tema que nos pone
                                    Looking solo publica la información de
                                    contacto de los vendedores y roomies </font>
                            </font><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">con ofertas activas</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">.</font>
                            </font>
                        </p>
                        <p class="text-muted text-sm card-text">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">La información de los espectadores
                                    registrados se
                                    hará visible</font>
                                <strong>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">únicamente</font>
                                    </font>
                                </strong>
                                <font style="vertical-align: inherit;">para los usuarios con los que haya
                                    contactado
                                </font>
                            </font>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
{% endblock content %}
    
